{{define "content"}}
    <div class="container-fluid px-3 py-4 me-auto ms-auto">
        <!-- <h2 class="pb-2 mb-4 border-bottom width-auto">My Projects</h2> -->
        <div class="row row-gap-4 mb-4">
            <div class="col">
                <div role="button" class="card card-cover rounded-4 pt-5 hover-raise" style="background-image: url('/static/images/hotbeanspreview.png')">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-black">Portfolio Websites</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div role="button" class="card card-cover rounded-4 pt-5 hover-raise" style="background-image: url('/static/images/LaserTagPrev.png')">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Laser Tag Arena Upgrades</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div role="button" class="card card-cover rounded-4 pt-5 hover-raise" style="background-image: url('/static/images/LaserTagPrev.png')">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Social Media Managment</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div role="button" class="card card-cover rounded-4 pt-5 hover-raise" style="background-image: url('/static/images/LaserTagPrev.png')">
                <div class="pt-5 mt-5">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Software Development</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}
