<div class="container-fluid px-3 py-4 pt-4 me-auto ms-auto text-center">
    <div class="row row-gap-4">
        <div class="col">
            <div class="beforeAfterContainer" id="container">
                <div class="labels">
                    <span class="label">BEFORE</span>
                    <span class="label">AFTER</span>
                </div>
                
                <img src="/static/images/beforeAndAfter/AfterIcicle-1.jpg" alt="After" class="before">

                <img src="/static/images/beforeAndAfter/BeforeIcicle-1.jpg" alt="Before" class="after">
                
                <div class="slider" id="slider">
                    <div class="sliderHandle">
                        <div class="caretLeft"></div>
                        <div class="caretRight"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="beforeAfterContainer" id="container">
                <div class="labels">
                    <span class="label">BEFORE</span>
                    <span class="label">AFTER</span>
                </div>
                
                <img src="/static/images/beforeAndAfter/AlienAfter.jpg" alt="After" class="before">

                <img src="/static/images/beforeAndAfter/AlienBefore.jpg" alt="Before" class="after">
                
                <div class="slider" id="slider">
                    <div class="sliderHandle">
                        <div class="caretLeft"></div>
                        <div class="caretRight"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="beforeAfterContainer" id="container">
                <div class="labels">
                    <span class="label">BEFORE</span>
                    <span class="label">AFTER</span>
                </div>
                
                <img src="/static/images/beforeAndAfter/AfterGreenCorner.jpg" alt="After" class="before">

                <img src="/static/images/beforeAndAfter/BeforeGreenCorner.jpg" alt="Before" class="after">
                
                <div class="slider" id="slider">
                    <div class="sliderHandle">
                        <div class="caretLeft"></div>
                        <div class="caretRight"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="beforeAfterContainer" id="container">
                <div class="labels">
                    <span class="label">BEFORE</span>
                    <span class="label">AFTER</span>
                </div>
                
                <img src="/static/images/beforeAndAfter/AfterCentre.jpg" alt="After" class="before">

                <img src="/static/images/beforeAndAfter/BeforeCentre.jpg" alt="Before" class="after">
                
                <div class="slider" id="slider">
                    <div class="sliderHandle">
                        <div class="caretLeft"></div>
                        <div class="caretRight"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="beforeAfterContainer" id="container">
                <div class="labels">
                    <span class="label">BEFORE</span>
                    <span class="label">AFTER</span>
                </div>
                
                <img src="/static/images/beforeAndAfter/AfterSmallCorner.jpg" alt="After" class="before">

                <img src="/static/images/beforeAndAfter/BeforeSmallCorner.jpg" alt="Before" class="after">
                
                <div class="slider" id="slider">
                    <div class="sliderHandle">
                        <div class="caretLeft"></div>
                        <div class="caretRight"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="beforeAfterContainer" id="container">
                <div class="labels">
                    <span class="label">BEFORE</span>
                    <span class="label">AFTER</span>
                </div>
                
                <img src="/static/images/beforeAndAfter/AfterCorner.jpg" alt="After" class="before">

                <img src="/static/images/beforeAndAfter/BeforeCorner.jpg" alt="Before" class="after">
                
                <div class="slider" id="slider">
                    <div class="sliderHandle">
                        <div class="caretLeft"></div>
                        <div class="caretRight"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/imagesliders.js"></script>