<div class="container-fluid px-3 py-4 pt-2 me-auto ms-auto text-center">
    <h1 class="mb-4">Web Development Projects</h1>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-start mb-0">Personal Website <code class="float-end">GoLang (Fiber)</code></h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div id="personalWebsiteSlides" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/static/images/websitePortfolio/personal1.png" class="d-block w-100" alt="Screenshot 1">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/personal2.png" class="d-block w-100" alt="Screenshot 2">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/personal3.png" class="d-block w-100" alt="Screenshot 3">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#personalWebsiteSlides" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#personalWebsiteSlides" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Fiber
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-start mb-0">Play2Day Laser Tag System <code class="float-end">Python (Flask)</code></h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div id="zoneScoreboardSlides" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/static/images/websitePortfolio/scoreboard1.png" class="d-block w-100" alt="Screenshot 1">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/scoreboard2.png" class="d-block w-100" alt="Screenshot 2">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/scoreboard3.png" class="d-block w-100" alt="Screenshot 3">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/scoreboard4.png" class="d-block w-100" alt="Screenshot 4">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/scoreboard5.png" class="d-block w-100" alt="Screenshot 5">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#zoneScoreboardSlides" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#zoneScoreboardSlides" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Packet Sniffing, SQLite, OBS, Music Player, DMX Control
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-start mb-0">Web Development Company Website <code class="float-end">Python (Flask)</code></h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div id="hotbeansSlides" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/static/images/websitePortfolio/hotbeans2.png" class="d-block w-100" alt="Screenshot 2">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/hotbeans3.png" class="d-block w-100" alt="Screenshot 3">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/hotbeans4.png" class="d-block w-100" alt="Screenshot 4">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/hotbeans5.png" class="d-block w-100" alt="Screenshot 5">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/hotbeans6.png" class="d-block w-100" alt="Screenshot 6">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/hotbeans7.png" class="d-block w-100" alt="Screenshot 7">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/hotbeans8.png" class="d-block w-100" alt="Screenshot 8">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/hotbeans9.png" class="d-block w-100" alt="Screenshot 9">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/static/images/websitePortfolio/hotbeans10.png" class="d-block w-100" alt="Screenshot 10">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#hotbeansSlides" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#hotbeansSlides" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    First "Proper" website I built
                </div>
            </div>
        </div>
    </div>
</div>