{{define "layout/base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="/static/images/WebPreview.png"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/site.css" id="stylesheet">
    <link rel="icon" href="/static/images/FullLogo.png">
</head>

<body>
    <nav class="navbar navbar-expand pt-0 border-bottom fs-5">
        <div class="container-fluid text-center mx-auto px-3">
            <ul class="navbar-nav me-auto ms-auto">
                <li class="nav-item">
                    <a class="nav-link link-body-emphasis px-2" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Projects
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Websites</a></li>
                      <li><a class="dropdown-item" href="#">Laser Tag Arena</a></li>
                      <li><a class="dropdown-item" href="#">Social Media</a></li>
                      <li><a class="dropdown-item" href="#">Software Development</a></li>
                    </ul>
                  </li>
                </ul>
            </ul>
        </div>
      </nav>

    <main>
        {{block "content" .}}{{end}}
    </main>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 my-4 px-4 border-top mb-0">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Ben Mercer</span>
        </div>
        <div class="col-md-3">
            <span class="text-body-secondary">
                Rendered in {{.RenderTime}} seconds via GoLang running on my home server
            </span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="bi bi-envelope-fill" href="mailto:benmercer76@btinternet.com" target="_blank" style="font-size: 1.5rem;"></a>
            </li> 
            <li class="ms-3">
                <a class="bi bi-github" href="https://github.com/benjamano" target="_blank" style="font-size: 1.5rem;"></a>
            </li> 
            <li class="ms-3">
                <a class="bi bi-linkedin" href="https://www.linkedin.com/in/ben-mercer-7aa128267/" target="_blank" style="font-size: 1.5rem;"></a>
            </li> 
        </ul> 
    </footer>
</body>
</html>
{{end}}
